<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Book store</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
   body {
    color: #fff;
    background: #111111;
    font-family: "Patua One", sans-serif;
}
</style>
</head>

<body>
<div class="m-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand"  style="font-size: 20px; border:10px solid black ; border-radius:30px ; background-color: chocolate;">Book</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/home/" class="nav-item nav-link active">Home</a>
                    <a href="/about/" class="nav-item nav-link">About</a>
                    <a href="/book/" class="nav-item nav-link">Book</a>

                  
                </div>
                <form class="d-flex">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <button type="button" class="btn btn-secondary"><i class="bi-search"></i></button>
                    </div>
                </form>
                <div class="navbar-nav">
                    <a href="/contact/" class="nav-item nav-link">Contact Us</a>
                </div>
            </div>
        </div>
    </nav>
</div>



<!-- About Us - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
    <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6 col-xl-5">
                <img class="img-fluid rounded" loading="lazy" src="https://th.bing.com/th/id/OIP.UXjruGvGIz4BVlK6apHswQHaFB?w=728&h=494&rs=1&pid=ImgDetMain" alt="About 1">
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-11">
                        <h2 class="mb-3">Who Are We?</h2>
                        <p class="lead fs-4 text-secondary mb-3">We are a haven for book lovers, providing a wide range of books that cater to diverse tastes. Our mission is to foster a love for reading and provide an exceptional literary experience.</p>
                        <p class="mb-5">As a rapidly expanding bookstore, we remain committed to our core values. We believe in collaboration, innovation, and customer satisfaction, always striving to enhance our collection and services.</p>
                        <div class="row gy-4 gy-md-0 gx-xxl-5X">
                            <div class="col-12 col-md-6">
                                <div class="d-flex">
                                    <div class="me-4 text-primary">
                                        
                                    </div>
                                   
                                </div>
                            </div>

                            
</body>
</html>